<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="icon" type="image/png" href="/images/nodejs_favicon.png"/>
    <link rel='stylesheet' href='/bootstrap-3.3.7/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>