@font-face {
  font-family: 'Arimo';
  src: url('../fonts/Arimo/Arimo-Regular.ttf');
}
body {
  background: #f5f5f5;
  padding: 0;
  margin: 0;
  font: 14px 'Arimo', Helvetica, Arial, sans-serif;
}

.navbar-default {
  border-radius: 0;
  background: rgba(255,255,255,0.99);;
  border-bottom: none;
  box-shadow: 0 1px 4px #888;
}

.navbar-default .navbar-nav li a {
  color: #888;
  font-weight: 500;
  font-size: 16px;
  border-bottom: 1px solid transparent;
}

.navbar-default .navbar-nav li a:hover {
  color: #222;
  text-decoration: none;
  transition: 0.2s;
  border-bottom: 1px solid transparent;
}

.navbar-default .navbar-nav li a.active-page,
.navbar-default .navbar-nav li a:focus,
.navbar-default .navbar-nav li a:active{
  color: #3077bd;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #d0d0d0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #333;
}

.navbar-toggle {
  border-radius: 2px;
}

.navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.nav-send-box {
  border-radius: 3px 3px 0 0;
  background: rgba(255,255,255,0);
  border-top: none;
  box-shadow: none;
}

.padding-content {
  padding: 70px 0;
}

.nopadding {
  padding: 0;
}

.container .jumbotron,
.container-fluid .jumbotron {
  border-radius: 3px;
  background: #ffffff;
  border: 1px solid #f5f5f5;
}

.panel-default .panel-heading {
  background-color: #ffffff;
}

.btn {
  border-radius: 2px;
  border: none;
}

.send-group {
  top: 7px;
  margin-bottom: 0;
}

.text-box {
  border-radius: 20px;
  box-shadow: none;
  border: 1px solid #ddd;
}

.btn-send {
  box-shadow: none;
  border: none;
  border-radius: 20px;
  padding: 7px 12px;
}

.form-control .test {
  border-radius: 2px;
  box-shadow: none;
}

