<%- include(header) %>
<div class="padding-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="jumbotron">
                    <h1>Chat</h1>
                    <p>
                        Welcome to a small application. This application use for manage the all the modules and API of the modules. This application useful and powerful for the administrator or owner of the their website or their web application or mobile application.
                    </p>
                    <p><a class="btn btn-primary btn-lg" href="/" role="button">Join with us</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include(footer) %>