<%- include(header) %>
<div class="padding-content">
    <div class="container-fluid">
        <div class="row">
            <h1>Profile Page</h1>
        </div>
    </div>
</div>
<%- include(footer) %>
